.profileBackground img {
    width:100%;
    height:200px;
  }
  
  .profile {
    display:flex;
    margin:10px 0 0 0;
  }
  
  .profileImg {
    margin:0 20px 0 0;
    display:flex;
    flex-direction: column;
    width:170px;
  }
  
  .profileImg img {
    width:100%;
  }
  
.customInput input {
  display:none;
}

.customInput {
  margin-top:10px;
  padding: 8px;
  text-align: center;
  background-color: #d6d6d66c;
  border: 1px solid #4645456c;
  cursor: pointer;
  font-weight: 500;
}

  .profileData h2 {
    margin:0;
  }
  
  